.RecipePreview {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 24px 16px;
    top: 100px;
    background: var(--neutral-color-light);
    box-shadow: 1px 1px 4px rgba(44, 5, 106, 0.1);
    border-radius: 24px;
}

.RecipePreview img {
    width: 100%;
    border-radius: 12px;
}

.RecipePreview .title {
    margin: 3px 0;
    font-weight: bold;
}

.RecipePreview .category {
    margin-top: 0;
    font-weight: 200;
}


@media (min-width: 800px) {
    .RecipePreview img {
        width: 60%;
    }
}

@media (max-height: 700px) {
    .RecipePreview {
        top: 60px;
    }
}