.RecipePreview {
    width: 100%;
    --recipe-grey: #f1efef;
    background-color: var(--recipe-grey);
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 5vh;
}

.RecipePreview img {
    width: 100%;
    border-radius: 12px;
}

.RecipePreview .preview-title {
    margin: 3px 0;
    font-weight: 200;
}

.RecipePreview .preview-category {
    margin-top: 0;
    font-weight: 200;
}
