.NewRecipeButton {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    font-weight: bold;
    line-height: 18px;
}

.NewRecipeButton .text-container {
    display: flex;
    align-items: center;
}

.NewRecipeButton .text {
    margin: 0 5px 0 0;
}
