.NewRecipeButton {
    position: absolute;
    right: 0;
    left: 0;
    bottom: var(--generate-button-bottom);
    line-height: 18px;
    z-index: 2;
}

.NewRecipeButton .text-container {
    display: flex;
    align-items: center;
}

.NewRecipeButton .text {
    margin: 0 5px 0 0;
}
