.Header {
    display: none;
    background-color: white;
    /* border: 1px solid var(--primary-color-dark); */
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 var(--desktop-side-gutter);
    z-index: 5;
}

.Header .NewRecipeButton {
    position: relative;
    --header-button-width: 164px;
    width: var(--header-button-width);
    height: 48px;
    align-self: center;
    font-size: 14px;
    border-radius: 14px;
    line-height: 16px;
    bottom: 0;
    padding: 16px;
    margin-left: 32px;
    cursor: pointer;
}

.Header .bold {
    font-weight: bold;
}

.Header .title {
    font-size: 20px;
    line-height: 28px;
    /* border: 3px solid rgb(68, 83, 170); */
}

.Header .text-links {
    /* width: 164px; */
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: right;
}

.Header nav {
    justify-content: space-between;
    /* border: 3px solid rgb(34, 148, 53); */
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}

.Header a {
    text-decoration: none;
    color: var(--primary-color-dark);
}

@media (min-width: 800px) {
    .Header {
        display: flex;
    }
}

@media (min-width: 1440px) {
    .Header nav {
        font-size: 20px;
        line-height: 28px;
    }
    .Header .title {
        font-size: 28px;
        line-height: 30px;
    }
}
