.TeamMember {
    margin-bottom: 50px;
}

.TeamMember .links {
    margin: 20px 0 30px 0;
}

@media (min-width: 1440px) {
    .TeamMember .name {
        font-size: 28px;
        line-height: 32px;
    }
}
@media (min-width: 1920px) {
    .TeamMember .name {
        line-height: 36px;
    }
}
