.ViewRecipeButton {
    text-decoration: none;
    color: var(--primary-color-dark);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color-dark);
    height: 50px;
    width: 150px;
    margin: 15px 10px 0px 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.ViewRecipeButton .right-arrow {
    width: 20px;
    height: 20px;
    background: var(--neutral-color-light);
    margin: 0 5px;
}
