.WelcomePage {
    position: relative;
    margin: 0 20px;
    padding-top: 5rem;
    /* height: 100vh; */
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.WelcomePage .title {
    font-size: 50px;
    margin: 0;
}

.WelcomePage .subtext {
    font-size: 25px;
    margin: 15px 0;
}

.WelcomePage img {
    width: 100%;
    max-width: 697px;
}

@media (min-width: 800px) {
    .WelcomePage {
        margin: 0;
        display: grid;
        grid-template-columns: 523fr 696fr;
        align-items: center;
        min-height: 0;
    }

    .WelcomePage .title,
    .subtext {
        margin: 5% 0;
    }

    .WelcomePage .WelcomePageButton {
        margin: 10% 0;
    }
}
