.RecipeDesktopImage {
    width: 100%;
    --image-container-height: 424px;
    height: var(--image-container-height);
    overflow: hidden;
    border-radius: 12px;
}

.RecipeComponentsDesktop .recipe-image {
    width: 100%;
    margin-top: -25%;
}
