.RecipeDetails {
    background: var(--neutral-color-light);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 10px;
}

.RecipeDetails section {
    margin: 10px;
    border-bottom: 1px grey solid;
    /* padding-top: 5px; */
    padding-bottom: 20px;
}

.RecipeDetails .title {
    margin-bottom: 0;
}

.RecipeDetails section h3 {
    font-size: 21px;
}

.RecipeDetails .category {
    font-weight: 200;
    margin-top: 10px
}

.RecipeDetails .ingred-and-qty {
    display: flex;
}

.RecipeDetails .ingred-and-qty p {
    margin: 8px 0;
}

.RecipeDetails .measure {
    width: 100px;
}

.RecipeDetails .instruction-and-number {
    display: flex;
}

.RecipeDetails .instruction-number {
    margin-right: 5px;
}

.RecipeDetails .instructions-title {
    margin-bottom: 5px;
}