.RecipeDetails {
    background: var(--neutral-color-light);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 10px;
}

.RecipeDetails section {
    margin: 10px;
    border-bottom: 1px grey solid;
}
