.ContactPage {
    height: 100%;
    overflow: scroll;
    position: relative;
}

.ContactPage .ContactLink {
    margin-right: 30px;
}

.ContactPage .contact-nav {
    position: absolute;
    height: 64px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.ContactPage .back-arrow {
    position: absolute;
    left: 6.67%;
    right: 84.44%;
    top: 25%;
    bottom: 25%;
    height: 21px;
    z-index: 1;
}

.ContactPage .main-wrapper {
    position: absolute;
    background: var(--neutral-color-light);
    top: 88px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 33px var(--mobile-side-padding);
}

.ContactPage .title {
    margin-top: 0;
}

.ContactPage .summary {
    line-height: 24px;
}

.ContactPage .developer-image {
    width: 100%;
    border-radius: 24px;
}

@media (min-width: 800px) {
    .ContactPage {
        height: auto;
    }

    .ContactPage .summary {
        width: 62.5%;
    }

    .ContactPage .title {
        font-size: 50px;
        line-height: 58px;
    }

    .ContactPage .team-members {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ContactPage .contact-nav {
        display: none;
    }

    .ContactPage .main-wrapper {
        position: relative;
        background: white;
        top: 0;
        border: 2px solid aqua;
        border-radius: 0;
        padding: 0;
    }

    .ContactPage {
        
    }
}
