.Navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    z-index: 3;
}

.Navbar .title {
    font-size: 18px;
    margin: 0;
    line-height: 20px;
    letter-spacing: 0;
}

.Navbar a {
    text-decoration: none;
    align-self: center;
    color: var(--primary-color-dark);
}

.Navbar .infoIcon {
    --info-icon-dimensions: 35px;
    height: var(--info-icon-dimensions);
    width: var(--info-icon-dimensions);
    align-self: center;
}

@media (min-width: 800px) {
    .Navbar {
        display: none;

    }
}