.Navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.Navbar .title {
    font-size: 18px;
}

.Navbar .infoIcon {
    --info-icon-dimensions: 35px;
    height: var(--info-icon-dimensions);
    width: var(--info-icon-dimensions);
    align-self: center;
}