.Navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.Navbar .title {
    font-size: 18px;
}

.Navbar a {
    text-decoration: none;
    align-self: center;
}

.Navbar .infoIcon {
    --info-icon-dimensions: 35px;
    height: var(--info-icon-dimensions);
    width: var(--info-icon-dimensions);
    align-self: center;
}

@media (min-width: 800px) {
    .Navbar {
        display: none;

    }
}