.WelcomePage {
    position: relative;
    height: 100%;
    padding: 0 var(--mobile-side-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WelcomePage .title {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: 0;
    margin: 0;
}

.WelcomePage .subtext {
    margin: 15px 0;
    font-size: 16px;
    line-height: 24px;
}

.WelcomePage img {
    width: 100%;
    max-width: 697px;
}

.WelcomePage .example-text {
    display: none;
}

@media (min-width: 800px) {
    .WelcomePage {
        padding: calc(143px - var(--header-height)) 0;
    }

    .WelcomePage img {
        max-width: 400px;
    }

    .WelcomePage .text-and-image {
        display: flex;
    }
}

@media (max-height: 700px) {
    .WelcomePage {
        /* padding-top: 2rem; */
    }
}
