.WelcomePage {
    position: relative;
    height: 100%;
    padding: 0 var(--mobile-side-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WelcomePage .title {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: 0;
    margin: 0;
}

.WelcomePage .subtext {
    margin: 15px 0;
    line-height: 24px;
}

.WelcomePage img {
    width: 100%;
}

.WelcomePage .example-text {
    display: none;
}

@media (min-width: 800px) {
    .WelcomePage {
        min-height: 39vh;
        padding: 0;
        margin-bottom: 6vh;
    }

    .WelcomePage .title {
        font-size: 50px;
        line-height: 58px;
    }

    .WelcomePage .subtext {
        line-height: 32px;
    }

    .WelcomePage .WelcomePageButton {
        max-width: 312px;
        margin: 0;
    }

    .WelcomePage .text-and-button {
        position: relative;
        padding-top: 30px;
        padding-top: 2vw;
        min-width: 50%;
        display: flex;
    }

    .WelcomePage .text-only {
        max-width: 685px;
    }

    .WelcomePage img {
        max-width: 50%;
        width: auto;
        max-height: 45vh;
    }

    .WelcomePage .text-and-image {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1120px) {
    .WelcomePage .text-and-button {
        padding-top: 8vw;
    }
}

@media (min-width: 1440px) {
    .WelcomePage {
        min-height: calc(0.45 * 100vh);
    }

    .WelcomePage .subtext {
        font-size: 22px;
        line-height: 38px;
    }

    .WelcomePage .title {
        font-size: 67px;
        line-height: 75px;
    }
}

@media (min-width: 1920px) {
    .WelcomePage {
        min-height: calc(0.47 * 100vh);
    }

    .WelcomePage .title {
        line-height: 83px;
    }

    .WelcomePage .subtext {
        font-size: 25px;
        line-height: 33px;
    }
}

@media (max-height: 700px) {
    .WelcomePage {
        margin-top: 0;
    }
}
