.WelcomePageButton {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    text-decoration: none;
    line-height: 18px;
    margin: 0 var(--mobile-side-padding);
}

@media (min-width: 800px) {
    .WelcomePageButton {
        position: relative;
        max-width: 312px;
    }
}
