.WelcomePageButton {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-decoration: none;
}

@media (min-width: 800px) {
    .WelcomePageButton {
        position: relative;
        max-width: 312px;
    }
}