.RecipeDetails {
    background: var(--neutral-color-light);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 32px var(--mobile-side-padding);
    position: absolute;
    width: 100%;
    top: 250px;
}

.RecipeDetails section {
    border-bottom: 1px solid rgba(44, 5, 106, 0.2);
}

.RecipeDetails section h3 {
    font-size: 21px;
}

.RecipeDetails .category {
    font-weight: 200;
    margin-top: 10px;
}
