.RelatedRecipes {
    padding-bottom: 30px;
}

.RelatedRecipes .slider-container {
    display: flex;
    overflow: scroll;
}

.RelatedRecipes .RecipePreview {
    background: white;
    margin-right: 15px;
    position: relative;
    top: 0;
    padding: 24px 16px;
}

.RelatedRecipes .RecipePreview .text {
    margin: 0;
}

.RelatedRecipes .RecipePreview img {
    border-radius: 12px;
}

.RelatedRecipes .RecipePreview .title {
    font-size: 21px;
}

.RelatedRecipes .ViewRecipeButton .right-arrow {
    background: white;
}
