.RelatedRecipes {
    padding-bottom: 30px;
    overflow: scroll;
}

.RelatedRecipes .slider-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap);
    --preview-width: 264px;
    --preview-width: 80%;
    --grid-gap: 15px;
    /* width: 822px; */
    width: calc((3 * var(--preview-width)) + (2 * var(--grid-gap)));
}

.RelatedRecipes .section-title {
    position: absolute;
}

.RelatedRecipes .RecipePreview {
    background: white;
    /* max-width: 100%; */
    position: relative;
    margin-top: 70px;
    top: 0;
    padding: 24px 16px;
}

.RelatedRecipes .RecipePreview .text {
    margin: 0;
}

.RelatedRecipes .RecipePreview img {
    border-radius: 12px;
}

.RelatedRecipes .RecipePreview .title {
    font-size: 21px;
}

.RelatedRecipes .ViewRecipeButton .right-arrow {
    background: white;
}
