.EmailButton {
    padding: 16px;
    text-decoration: none;
    height: 48px;
    border: 1px solid var(--primary-color-dark);
    border-radius: 14px;
    color: var(--primary-color-dark);
    font-weight: bold;
}


@media (min-width: 800px) {
    .EmailButton {
        /* width: 100%; */
    }
}