.RecipeGenerator {
    --info-icon-dimensions: 30px;
    position: relative;
    margin: 0 20px;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.RecipeGenerator .InfoIcon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.RecipeGenerator .InfoIcon svg {
    height: var(--info-icon-dimensions);
    width: var(--info-icon-dimensions);
}

.RecipeGenerator .header-text {
    font-size: 20px;
    margin-left: 10px;
}

