.RecipeGenerator {
    position: relative;
    margin: 0 20px;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (min-width: 800px) {
    .RecipeGenerator {
        margin: 0;
    }

    .RecipeGenerator .NewRecipeButton {
        display: none;
    }
}