.RecipeGenerator {
    position: relative;
    height: 100%;
    margin: 0 var(--mobile-side-padding);
}

.RecipeGenerator .GeneratorDesktop {
    display: none;
}

@media (max-height: 700px) {
    .RecipeGenerator .generator-mobile .RecipePreview img {
        order: 2;
    }

    .RecipeGenerator .generator-mobile .RecipePreview .ViewRecipeButton {
        margin-top: 10px;
        margin-bottom: 24px;
    }

    .RecipeGenerator .generator-mobile .RecipePreview .category {
        margin: 0;
        line-height: 24px;
    }
}

@media (min-width: 800px) {
    .RecipeGenerator {
        width: 100%;
        margin: 0;
    }

    .RecipeGenerator .generator-mobile {
        display: none;
    }

    .RecipeGenerator .GeneratorDesktop {
        display: block;
    }
}
