.RecipeGenerator {
    position: relative;
    height: 100%;
    margin: 0 var(--mobile-side-padding);
}

@media (min-width: 800px) {
    .RecipeGenerator {
        /* width: 400px; */
        width: 100%;
        /* height: 200px; */
        margin: 0;
    }

    .RecipeGenerator .NewRecipeButton {
        /* display: none; */
    }
}