.RecipeGenerator {
    position: relative;
    height: 100%;
    margin: 0 var(--mobile-side-padding);
}

@media (min-width: 800px) {
    .RecipeGenerator {
        /* margin: 0; */
    }

    .RecipeGenerator .NewRecipeButton {
        /* display: none; */
    }
}