.FooterContact {
     border: 1px solid yellow;
     /* width: 100%; */
}

.FooterContact .links {
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.FooterContact .email {
    text-decoration: underline;
    color: white;
}
