.RecipeComponentsMobile .recipe-image {
    width: 100%;
    margin-top: -20%;
}

.RecipeComponentsMobile .recipe-nav {
    height: 64px;
    background: rgba(44, 5, 106, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.67%;
}

.RecipeComponentsMobile .back-button {
    /* position: absolute;
    left: 6.67%;
    top: 25%;
    bottom: 25%; */
    --back-button-dimensions: 21px;
    height: var(--back-button-dimensions);
    width: var(--back-button-dimensions);
}

.RecipeComponentsMobile .save-recipe-icon {
    fill: white;
    --save-icon-dimensions: 25px;
    height: var(--save-icon-dimensions);
    width: var(--save-icon-dimensions);
}

@media (min-width: 800px) {
    .RecipeComponentsMobile {
        display: none;
    }
}
