.GeneratorDesktop {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
}

.GeneratorDesktop .title-and-buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 592px;
    /* text-align: center; */
}

.GeneratorDesktop .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GeneratorDesktop .NewRecipeButton,
.GeneratorDesktop .ViewRecipeButton {
    position: relative;
    width: 272px;
    height: 66px;
}

.GeneratorDesktop .NewRecipeButton {
    padding: 0;
}
.GeneratorDesktop .NewRecipeButton .text-container {
    width: 200px;
}
.GeneratorDesktop .NewRecipeButton img {
    height: 15px;
}

.GeneratorDesktop .image-container {
    width: 100%;
    border: 1px solid red;
    height: 424px;
    overflow: hidden;
    border-radius: 24px;
    margin-top: 48px;
}

.GeneratorDesktop img {
    margin-top: -25%;
    width: 100%;
}
