.GeneratorDesktop .title {
    text-align: center;
}

.GeneratorDesktop .title-and-buttons {
    margin: auto;
    width: 592px;
}

.GeneratorDesktop .buttons {
    display: flex;
    justify-content: space-between;
}

.GeneratorDesktop .NewRecipeButton,
.GeneratorDesktop .ViewRecipeButton {
    position: relative;
    width: 272px;
    height: 66px;
    border-radius: 24px;
    font-size: 16px;
}

.GeneratorDesktop .ViewRecipeButton {
    margin: 0;
}

.GeneratorDesktop .ViewRecipeButton .right-arrow {
    display: none;
}

.GeneratorDesktop .RecipeDesktopImage {
    margin-top: 48px;
}
