@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Public Sans', sans-serif;
  height: 100vh;
  --primary-color-dark: #2C056A;
  --primary-color-accent: #6610F2;
  --secondary-color-warning: #E46A0C;
  color: var(--primary-color-dark);
}

.App .black-button {
    font-family: 'DM Sans';
    background-color: black;
    color: white;
    border-radius: 50px;
    height: 70px;
    font-size: 20px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }