@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.App {
    font-family: 'Public Sans', sans-serif;
    height: 100vh;
    --primary-color-dark: #2c056a;
    --primary-color-accent: #6610f2;
    --neutral-color-light: #FFF1EC;
    --secondary-color-warning: #e46a0c;
    color: var(--primary-color-dark);
    padding: 0 7.7%;
}

.App .generate-button {
    font-family: 'DM Sans';
    display: flex;
    justify-content: center;
    padding: 24px;
    background: var(--primary-color-accent);
    color: white;
    box-shadow: 1px 1px 25px rgba(102, 16, 242, 0.2);
    border-radius: 24px;
}


@media (min-width: 800px) {

}