.NewRecipeButton {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.NewRecipeButton .text-container {
    display: flex;
    align-items: center;
}

.NewRecipeButton .text {
    margin: 0 5px 0 0;
}
