.NewRecipeButton {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.NewRecipeButton .text-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.NewRecipeButton .text {
    margin: 0;
}
