.NewRecipeButton {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}

.NewRecipeButton .text-container {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
