.ContactPage {
    overflow: hidden;
}

.ContactPage .contact-nav {
    position: absolute;
    height: 64px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.ContactPage .back-arrow {
    position: absolute;
    left: 6.67%;
    right: 84.44%;
    top: 25%;
    bottom: 25%;
    height: 32px;
    width: 32px;
    z-index: 1;
}

.ContactPage .main-wrapper {
    position: absolute;
    width: 100%;
    height: 725px;
    background: var(--neutral-color-light);
    top: 88px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 33px 24px;
}

.ContactPage .links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.ContactPage .developer-image {
    width: 100%;
    border-radius: 24px;
}