.RecipeDesktopImage {
    --image-container-height: 424px;
    height: var(--image-container-height);
    overflow: hidden;
    border-radius: 24px;
}

.RecipeDesktopImage .recipe-image {
    width: 100%;
    margin-top: -25%;
}
