.Footer {
    background-color: var(--primary-color-dark);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 312px;
    display: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.Footer .text-container {
    text-align: center;
}

.Footer .title {
    font-size: 20px;
    line-height: 28px;
}

.Footer .developers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.Footer .copyright {
    font-size: 14px;
    line-height: 18px;
}

@media (min-width: 800px) {
    .Footer {
        display: flex;
    }
}
