.RecipeComponentsDesktop {
    display: none;
}

.RecipeComponentsDesktop .title {
    font-size: 50px;
    line-height: 58px;
}

.RecipeComponentsDesktop .details-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 8px;
    margin-top: 5%;
}

.RecipeComponentsDesktop .Ingredients,
.RecipeComponentsDesktop .Instructions {
    background: var(--neutral-color-light);
    padding: 2rem;
    border-radius: 12px;
}

.RecipeComponentsDesktop .Ingredients .title,
.RecipeComponentsDesktop .Instructions .title {
    font-size: 28px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.RecipeComponentsDesktop .Ingredients .ingred-and-qty {
    font-size: 16px;
    line-height: 24px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.RecipeComponentsDesktop .Instructions .instruction {
}

.RecipeComponentsDesktop .RelatedRecipes {
    padding-bottom: 0;
}

.RecipeComponentsDesktop .RelatedRecipes .slider-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap);
    /* --preview-width: 264px; */
    /* --preview-width: 80%; */
    --grid-gap: 20px;
    width: 100%;
    /* width: calc((3 * var(--preview-width)) + (2 * var(--grid-gap))); */
}

.RecipeComponentsDesktop .RelatedRecipes .section-title {
    position: relative;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0;
}

.RecipeComponentsDesktop .RelatedRecipes .RecipePreview {
    width: auto;
    margin-top: 0;
    box-shadow: none;
}

.RecipeComponentsDesktop .RelatedRecipes .RecipePreview .text {
    margin: 0;
}

.RecipeComponentsDesktop .RelatedRecipes .RecipePreview .title {
    min-height: 50px;
    line-height: normal;
}

.RecipeComponentsDesktop .RelatedRecipes .RecipePreview img {
}

.RecipeComponentsDesktop .RelatedRecipes .ViewRecipeButton .right-arrow {
    background: white;
}

@media (min-width: 800px) {
    .RecipeComponentsDesktop {
        display: block;
    }
}

@media (min-width: 1400px) {
    .RecipeComponentsDesktop .Ingredients .title,
    .RecipeComponentsDesktop .Instructions .title {
        font-size: 2.375rem;
    }
}
