.ContactPageImage {

}

.ContactPage .developer-image {
    width: 100%;
    border-radius: 24px;
}

.ContactPage .desktop-image {
    display: none;
}



@media (min-width: 800px) {

    .ContactPage .desktop-image {
        display: block;
    }
    .ContactPage .mobile-image {
        display: none;
    }
}

@media (min-width: 1440px) {
    .ContactPage {
    }
    .ContactPage .img {
        /* float: right; */
    }
}