.ContactPageImage img {
    width: 100%;
    border-radius: 24px;
}

.ContactPageImage .desktop-image {
    display: none;
}

@media (min-width: 800px) {
    .ContactPageImage  {
        display: block;
        border-radius: 24px;
    }
    .ContactPageImage .desktop-image {
        display: block;
        /* border-radius: 50%; */
    }
    .ContactPageImage .mobile-image {
        display: none;
    }
}

@media (min-width: 1440px) {
    .ContactPageImage {
        overflow: hidden;
        height: 100%;
        /* border: 3px solid brown; */
    }
    .ContactPageImage img {
        height: 785px;
        width: auto;
        margin-left: -30vh;
    }
}

@media (min-width: 1920px) {
 
    .ContactPageImage img {
        margin-left: -20vh;
    }
}
