.Header {
    display: none;
    /* z-index: 3; */
    background-color: white;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    /* padding: 0 var(--desktop-side-padding); */
}

.Header .NewRecipeButton {
    position: static;
    width: 208px;
    height: 66px;
}

.Header .title {
    font-size: 28px;
}

.Header nav {
    justify-content: space-between;
    display: flex;
    width: 35%;
    align-items: center;
}

.Header a {
    text-decoration: none;
    color: var(--primary-color-dark);
}

@media (min-width: 800px) {
    .Header {
        display: flex;
    }
}
