
.ReturnNavbar {
    position: absolute;
    height: 64px;
    left: 0px;
    right: 0px;
    top: 0px;
    border: 1px solid var(--primary-color-dark);
}

.ReturnNavbar .back-arrow {
    position: absolute;
    left: 6.67%;
    right: 84.44%;
    top: 25%;
    bottom: 25%;
    height: 21px;
    z-index: 1;
}


@media (min-width: 800px) {
 .ReturnNavbar {
    display: none;
}
}